# JS files
!jest.config.js
!playwright.config.js
tests/fixtures/typescript/
/.sauce/

run.yaml
tests/fixtures/basic-js/test-results/
tests/fixtures/basic-js/__assets__/
bundle/
__assets__/

!tests/unit/src/__assets__/

sauce-test-report.json

lib

coverage

node_modules

console.log

.DS_Store

