name: Docker Build

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: saucelabs/stt-playwright-jest-node
          tag_with_ref: true
          cache_froms: saucelabs/stt-playwright-jest-node:latest
          push: false
      
      # Checkout the latest saucectl
      - uses: actions/checkout@v2
        with:
          repository: saucelabs/saucectl
          path: saucectl

      # Build saucectl
      - run: pushd saucectl && make build && popd
        name: Build Saucectl and run E2E tests

      # Run e2e tests
      - run: bash ./tests/e2e/run.sh
        env:
          SKIP_CI: true
          SAUCE_CTL_BINARY: ./saucectl/saucectl
        name: Build Saucectl and run E2E tests
