name: Test Image

on:
  pull_request:
    branches:
      - master

jobs:
  build_and_test_docker:
    runs-on: ubuntu-latest
    steps:

      -
        name: Checkout
        uses: actions/checkout@v2


      - name: Setup Node version
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Install dependencies
        run: npm ci

      - name: Get Playwright browser versions
        run: |
          CHROMIUM_VERSION=$(node ./scripts/print-browser-version.js 'chromium')
          echo "chromium_version=$CHROMIUM_VERSION" >> $GITHUB_ENV
          FIREFOX_VERSION=$(node ./scripts/print-browser-version.js 'firefox')
          echo "firefox_version=$FIREFOX_VERSION" >> $GITHUB_ENV
          WEBKIT_VERSION=$(node ./scripts/print-browser-version.js 'webkit')
          echo "webkit_version=$WEBKIT_VERSION" >> $GITHUB_ENV

      - run: make docker
        name: Make Docker

      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.0'

      # Install saucectl
      - uses: saucelabs/saucectl-run-action@v1
        with:
          skip-run: true

      - name: get saucectl path
        id: saucectl_path
        run: |
          SAUCECTL_PATH=$(which saucectl)
          echo "SAUCECTL_PATH=${SAUCECTL_PATH}"
          echo ::set-output name=saucectl_path::${SAUCECTL_PATH}

      # There is discrepencies between uid used to clone and uid in container,
      # As a temporary measure, we chmod files to allow test outputs to be written.
      - name: Workaround for container permissions
        run: sudo chmod -R 777 tests/

      # Run e2e tests (Docker)
      - run: bash ./tests/run.sh
        env:
          SKIP_CI: true
          SAUCE_CTL_BINARY: ${{ steps.saucectl_path.outputs.saucectl_path }}
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
        name: Build Saucectl and run E2E tests

  build_and_test_local:
    runs-on: windows-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      - run: npm ci --production
        name: Install dependencies
      - run: node . --suiteName basic-js --runCfgPath ./tests/fixtures/basic-js/sauce-runner.json
        env:
          SAUCE_VM: true
        name: Run test locally
