name: Test Image

on:
  pull_request:
    branches:
      - master

jobs:
  build_and_test_docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2

      - run: make docker
        name: Make Docker

      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.0'

      # Install saucectl
      - uses: saucelabs/saucectl-run-action@v1
        with:
          skip-run: true

      - name: get saucectl path
        id: saucectl_path
        run: |
          SAUCECTL_PATH=$(which saucectl)
          echo "SAUCECTL_PATH=${SAUCECTL_PATH}"
          echo ::set-output name=saucectl_path::${SAUCECTL_PATH}

      # There is discrepencies between uid used to clone and uid in container,
      # As a temporary measure, we chmod files to allow test outputs to be written.
      - name: Workaround for container permissions
        run: sudo chmod -R 777 tests/

      # Run e2e tests (Docker)
      - run: bash ./tests/run.sh
        env:
          SKIP_CI: true
          SAUCE_CTL_BINARY: ${{ steps.saucectl_path.outputs.saucectl_path }}
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
        name: Build Saucectl and run E2E tests

  build_and_test_local:
    runs-on: windows-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      - run: npm ci --production
        name: Install dependencies
      - run: node . --suiteName basic-js --runCfgPath ./tests/fixtures/basic-js/sauce-runner.json
        env:
          SAUCE_VM: true
        name: Run test locally

  test_template:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.0'

      # Install saucectl
      - uses: saucelabs/saucectl-run-action@v1
        with:
          skip-run: true

      # Run test in template
      - run: |
          cd .saucetpl
          sed -i -e 's/##VERSION##/latest/g' .sauce/config.yml
          saucectl run --test-env sauce
        env:
          SKIP_CI: true
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
        name: Run template tests
